html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  max-width: 100vw;
  color:white;
}

body {
  margin-bottom: 60px;

}

.alert{
    text-align: center;
    font-size: 1.2em;
    max-width: 50%;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
}
#title {
    font-size: 3em;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: 30px;
}

.PageHeader {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.login-partial {
    margin-left: 50px;
    flex-direction: row;
}

.kok {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
}

.logout {
    margin-left: 50%;
    transform: translate(-50%);
}

html body {
    background-color: rgb(20, 18, 26);
}

.headerus {
    background-color: rgb(20, 18, 26);
    border-bottom: 1px solid #aaa;
}


.navbarus {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 20px 0px;
    justify-content: space-around;
    text-align: center;
    max-width: 100%;
}

.navigace {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    color: white;
    padding: 0;
    row-gap: 15px;
}

    .navigace li {
        margin: auto 15px;
    }

.gals {
    display: flex;
    flex-direction: row;
    font-size: 1.1em;
}

#hero {
    display: block;
    background-color: rgb(41, 38, 53);
    padding: 5%;
}



.list {
    list-style: none;
}
.main-text {
    font-size: 3em;
    font-weight: 900;
}

.submain-text {
    font-size: 1.5em;
}

.top-12 {
    
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: center;
}

.galleryflex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
    column-gap: 20px;
}

.galitem {
    max-width: 40%;
    margin-bottom: 5%;
    border: 2px solid rgb(34, 42, 54);
    border-radius: 0.5em;
}

.karta {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: .5em;
    text-decoration: none;
    background: rgb(34, 42, 54);
    max-width: 100%;
}

.karta-body {
    padding: 0.8em;
    text-align: center;
    width: 100%;
}

.galleryTitle{
    font-size: 2em;
}
.buton {
    background-color: rgb(36, 41, 46);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.5em;
    width: 35%;
}

.buton:hover {
    transform: scale(1.05);
}
.fa{
    transform: scale(1.5);
}
.delete {
    background-color: rgb(136, 16, 16);
}

.open {
    background-color: rgb(22, 131, 0);
}
.visibility{
    background-color: darkorange;
}
.download{
    background-color: blue;
}
.thumbnail{
    background-color: darkgray;
}
.add{
    background-color: forestgreen; 
}
.content-middle{
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.karta-body a button{
    margin-bottom: 10px;
    width: 20%;
}

.hlava{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.hlava a button{
    margin-left: 20px;
    width: 50px;
}

#CheckedDeafault {
    height: 25px;
    width: 50px;
    background-color: #eee;
    cursor: pointer;
}
.gallery-upload{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translate(-50%);
    align-items: center;
    text-align: center;
    
}
.gallery-upload .hlava{
    flex-direction: row;
}


.gallery-upload div{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
}
.color-input{
    width: 100%;
}

.file-upload{
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.file-upload h1{
    text-align: center;
}
.form-check{
    text-align: center;
    margin-top: 25px;
    cursor: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0;
}
.form-group{
    margin-top: 50px;
    width: 100%;

}
.form-group button{
    width: 25%;
}
#upinput{
    display:none;
}

.control-label{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dropzone {
    background: transparent;
    border-radius: 5px;
    border: 2px dashed white;
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;

}

.upload-button{
    width: 100%;
    height: 100%;
    background: transparent;
    margin: 0;
    text-indent: -9999px;
    transform: translate(0, -10%);
    
}
.upload-button:hover{
    cursor: pointer;
}

.footer div{
    width: 50%;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
}





    @media only screen and (max-width: 800px) {

        .galleryflex {
            flex-direction: column;
            align-items: center;
        }

        .galitem {
            max-width: 80%;
        }

        #title {
            margin-left: 0;
        }
    }

    @media only screen and (min-width: 800px) {

        .navigace {
            flex-direction: row;
        }

        .navbarus {
            flex-direction: row;
        }
    }




.ghost {
    background-color: rgba(255, 255, 255, 0.664);
}

.custom-drag-ghost {
    position: absolute;
    top: -99999px;
    left: -99999px;
    background-color: #edb458;
    border: 1px solid #e8871e;
}

.hidden-drag-ghost {
    opacity: 0;
}

.transition {
    transition: all 2s ease-out .5s;
    top: 0;
}


