html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  color:white;
}

body {
  margin-bottom: 60px;

}
.alert{
    text-align: center;
    font-size: 1.2em;
    max-width: 50%;
    margin-left: 50%;
    transform: translate(-50%);
}
#title {
    font-size: 3em;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.PageHeader{
    text-align: center;
}
.login-partial {
    margin-left: 50px;
    flex-direction: row;
}
.kok {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
}

html body {
    background-color: rgb(20, 18, 26);
}

.headerus {
    background-color: rgb(20, 18, 26);

}

.navbarus {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    padding: 20px 0px;
    justify-content: space-between;
}

.navigace {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    font-size: 1.1em;
    font-weight: 500;
    color: white;
}

.navigace li {
    margin: auto 40px;
}

.nav-item:last-child {
    margin-right: 0px;
}


#hero {
    display: block;
    background-color: rgb(41, 38, 53);
    padding: 5%;
}

.main-text {
    font-size: 3em;
    font-weight: 900;
}

.submain-text {
    font-size: 1.5em;
}

.top-12 {
    margin-left: 15%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.galleryflex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
    column-gap: 20px;
}

.galitem {
    max-width: 40%;
    margin-bottom: 5%;
    border: 2px solid rgb(34, 42, 54);
    border-radius: 0.5em;
}

.karta {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: .5em;
    text-decoration: none;
    background: rgb(34, 42, 54);
    max-width: 100%;
}

.karta-body {
    padding: 0.8em;
    text-align: center;
    width: 100%;
}

.galleryTitle{
    font-size: 2em;
}
.buton {
    background-color: rgb(36, 41, 46);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.5em;
    width: 35%;
}

.buton:hover {
    transform: scale(1.05);
}
.fa{
    transform: scale(1.5);
}
.delete {
    background-color: rgb(136, 16, 16);
}

.open {
    background-color: rgb(22, 131, 0);
}
.visibility{
    background-color: darkorange;
}
.download{
    background-color: blue;
}
.thumbnail{
    background-color: darkgray;
}
.add{
    background-color: forestgreen; 
}
.content-middle{
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.karta-body a button{
    margin-bottom: 10px;
    width: 20%;
}

.hlava{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.hlava a button{
    margin-left: 20px;
    width: 50px;
}

#CheckedDeafault {
    height: 25px;
    width: 50px;
    background-color: #eee;
    cursor: pointer;
}
.gallery-upload{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translate(-50%);
    align-items: center;
    text-align: center;
    
}
.gallery-upload .hlava{
    flex-direction: row;
}


.gallery-upload div{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
}
.color-input{
    width: 100%;
}

.file-upload{
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.file-upload h1{
    text-align: center;
}
.form-check{
    text-align: center;
    margin-top: 25px;
    cursor: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 0;
}
.form-group{
    margin-top: 50px;
    width: 100%;

}
.form-group button{
    width: 25%;
}
#upinput{
    display:none;
}

.control-label{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dropzone {
    background: transparent;
    border-radius: 5px;
    border: 2px dashed white;
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;

}

.upload-button{
    width: 100%;
    height: 100%;
    background: transparent;
    margin: 0;
    text-indent: -9999px;
    transform: translate(0, -10%);
    
}
.upload-button:hover{
    cursor: pointer;
}
@media only screen and (max-width: 800px) {
    .galleryflex {
        flex-direction: column;
        align-items: center;
    }

    .galitem {
        max-width: 80%;
    }
}

















/*OLD CSS----------------------*/
.gallery-container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
}

    .box > img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover;
        transition: .5s;
    }

    .box > span {
        font-size: 3.8vh;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
    }

    .box:hover {
        flex: 1 1 50%;
    }

        .box:hover > img {
            width: 100%;
            height: 100%;
        }



.inside {
    background-color: #fff;
}

.divRec {
    cursor: move;
    padding: 35px 20px;
    font-size: 20px;
    background-color: #ff0000;
    grid-area: span 1/span 2;
}

.divQuad {
    cursor: move;
    padding: 35px 20px;
    font-size: 20px;
    background-color: #fff333;
    grid-area: span 1/span 1;
}

.divCard {
    cursor: move;
    padding: 35px 20px;
    font-size: 20px;
    background-color: #00ff00;
    grid-area: span 2/span 1;
    min-height: 250px;
}

.ghost {
    border: 1px dashed #000;
    background-color: #fff;
    opacity:0.1;
}

.custom-drag-ghost {
    /* The original cloned element must not take place up in the page and must not be visible */
    position: absolute;
    top: -99999px;
    left: -99999px;
    /* Just for appearance */
    background-color: #edb458;
    border: 1px solid #e8871e;
}

.hidden-drag-ghost {
    opacity: 0;
}

.transition {
    transition: all 2s ease-out .5s;
    top: 0;
}



.containerus {
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
    display: grid;
    grid-gap: 15px;
    grid-template-rows: repeat(auto, 250px);
    grid-template-columns: repeat(4, 1fr);
}

.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
}

    .draggable.dragging {
        opacity: .5;
    }

