@page
@model galerie.Pages.UploadModel
@{
}

@if(Model.NotLoggedInMessage != null)
{
    <div class="alert alert-dark" role="alert">@Model.NotLoggedInMessage</div>
}
@if(Model.Gallery != null)
{

    <div class="file-upload">
   
        <div class="hlava">
<h1 class="PageHeader">New file upload</h1> 
 <a asp-page="./Gallery" asp-route-galleryId="@Model.Gallery.GalleryId" ><button title="Go back to gallery" class="buton delete"><i class="fa fa-solid fa-arrow-left"></i></button></a>
</div>

    
  <DIV id="dropzone">
    <FORM method="post" class="dropzone needsclick" id="demo-upload" enctype="multipart/form-data">
         <input type="hidden" asp-for="UserId" id="UserId" />
         <label id="input-text" asp-for="Upload" class="control-label">Click here to upload an image!</label>
              <input type="file" asp-for="Upload" id="file" class="upload-button" required />
             
               <div style="display: flex; flex-direction: column; text-align:center;">
            <label for="FileDescription">Description of your image</label>
            <input id="Description" type="text" name="FileDescription" value="" asp-for="FileDescription" required/>
          </div>
              <div class="form-check" >
                @if(Model.IsAdmin)
                {
                      <label class="form-check-label" for="flexCheckDeafault" name="CheckedDeafault" asp-for="CheckedDeafault">
                          <input id="default" type="checkbox"  asp-for="CheckedDeafault" value="false">
                        <strong>Default image (ADMIN ONLY)</strong>
                        </label>
                    }
                    else
                    {
                         <input id="default" type="hidden"  asp-for="CheckedDeafault" value="false">
                    }
                
  <div class="form-group">
  <button title="Upload image" id="inputbtn" class="buton download"><i class="fa fa-solid fa-upload"></i><input id="upinput" type="submit" value="Upload" /></button>
 </div>
</div>
    </FORM>
  </DIV>
   </div>
    

}
else
{
    <div class="gallery-upload">
                <div class="hlava">
<h1 class="PageHeader">Add new gallery</h1> 
 <a asp-page="./Privacy"  ><button title="Go back to Your Galleries" class="buton delete"><i class="fa fa-solid fa-arrow-left"></i></button></a>
</div>

    <form method="post" >
          <div>
            <label  for="GalleryTitle">Gallery Title</label>
            <input  type="text" name="GalleryName" value="" asp-for="Gallery.GalleryName" required/>
          </div>
          <div>
            <label for="BckColor">Border Color</label>
           <input class="color-input" type="color" name="GalleryBackgroundColor" value="rgb(34, 42, 54)" asp-for="Gallery.GalleryBackgroundColor">
          </div>
          <div>

            <button title="Add gallery" id="gallery-submit" asp-page-handler="NewGallery" class="buton open"><i class="fa fa-solid fa-check"></i><input id="upinput" type="submit" value="" /></button>
          </div>
      </form>
      </div>
}



 <script type="module" src="~/js/tus.min.js"></script>


 <script type="module" src="~/js/upload.js" asp-append-version="true"></script>
